<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.fatpredictor">

    <application
        android:allowBackup="true"
        android:name=".main.MainApp"
        android:icon="@drawable/fwicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity"
            android:label="login">

        </activity>
        <activity android:name=".activities.SignUpActivity"
            android:label="@string/sign_in">

        </activity>

        <activity android:name=".activities.PredictionListActivity"
            android:label="prediction_list">
        </activity>
        <activity android:name=".activities.PredictActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PredictionListActivity">
            </meta-data>
        </activity>
    </application>

</manifest>